<div *ngIf="showLoading" class="container-fluid">
    <loading-screen loadingContent="Please wait while your games load..." ></loading-screen>
</div>

<div *ngIf="!showLoading">
    <h3 *ngIf="isLive" class="d-flex justify-content-center mat-display-1" style="margin: 15px 0 5px;">EVENT IS LIVE</h3>
    <h3 *ngIf="!isLive" class="d-flex justify-content-center" style="margin: 15px 0 5px;">Betting open for</h3>
    <h2 class="d-flex justify-content-center mat-display-2" style="margin: 5px 0 25px;">{{event?.name}}</h2>
    <p class="d-flex justify-content-center">Select a group to see all of the submitted entries</p>
    <form class="form-horizontal d-flex justify-content-center" [formGroup]="form">
        <mat-form-field style="background-color: #7b1fa2 !important;">
            <mat-label>Group</mat-label>
            <mat-select style="text-align: center;" [(ngModel)]="selectedValue" name="game" id="game" #game formControlName="game" (selectionChange)="selected($event)"> 
                <mat-option *ngFor="let game of games" [value]="game">
                {{game.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="row d-flex justify-content-center" style="margin-top: 30px;">
        <p>{{this.numBets}}</p>
    </div>
    
    <hr *ngIf="players.length == 0">

    <div *ngIf="players.length == 0" class="d-flex justify-content-center">
        No group selected with any players
    </div>

    <div *ngIf="players.length != 0" class="d-flex justify-content-center">
        <table mat-table [dataSource]="players" mat-table class="mat-table cdk-table col-xl-9 col-lg-9 col-md-10 col-sm-11 col-xs-12" style="text-align: center; width: 100%;">
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Player </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="record">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Record </th>
                <td mat-cell *matCellDef="let element"> {{element.record}} </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Details </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button color="primary" (click)="goTo(element)">Show picks</button> 
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-dialog-actions class="d-flex justify-content-center" style="margin-top: 50px;">
        <button mat-raised-button color="secondary" (click)="new()">Make a new bet</button>
    </mat-dialog-actions>
</div>