::ng-deep .mat-form-field-placeholder {
  color: black;
}

::ng-deep .mat-focused .mat-form-field-placeholder {
  color: black;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: black;
}

::ng-deep .mat-form-field-underline {
  background-color: black;
}
