<div class="container-fluid">
  <h1
    class="d-flex justify-content-center mat-display-3"
    style="margin: 40px 0 40px"
  >
    Prop Bets
  </h1>
  <h3 class="d-flex justify-content-center" style="margin-bottom: -2px">
    Current Event:
  </h3>
  <h3 class="d-flex justify-content-center mat-display-2">Superbowl LVI</h3>
  <div class="justify-content-center" style="padding: 20px; text-align: center">
    <p mat-display-1="">
      Click the button below to login or create an account using a valid Google
      email.
    </p>
    <button
      class="btn btn-default mat-raised-button mat-button-base mat-primary"
      color="primary"
      mat-raised-button=""
      ng-reflect-color="primary"
      (click)="register()"
    >
      <span class="mat-button-wrapper">Register!</span>
      <div
        class="mat-button-ripple mat-ripple"
        matripple=""
        ng-reflect-centered="false"
        ng-reflect-disabled="false"
        ng-reflect-trigger="[object HTMLButtonElement]"
      ></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</div>
